<launch>

    <rosparam command="load" file="$(find hera_moveit_config)/config/joint_names.yaml"/>

    <include file="$(dirname)/planning_context.launch">
        <arg name="load_robot_description" value="true" />
    </include>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam param="source_list" subst_value="true">["dynamixel_controller/joint_states"]</rosparam>
    </node>

    <include file="$(find hera_moveit_config)/launch/move_group.launch">
        <arg name="load_robot_description" value="true"/>
    </include>

</launch>